* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}

.logo h2 {
    font-size: 45px;
    font-weight: 900;
}

.color-orange {
    color: #FD6E0A;
}

.btn {
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2 {
    font-size: 35px;
    color: #181818;
    padding-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    padding-bottom: 30px;
}

.text-center {
    text-align: center;
}

/* main style */

header {
    background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav {
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid tomato; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

#banner {
    /* border: 1px solid tomato; */
    margin: 47px 38px 0px 192px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}

#banner .banner-image img {
    max-width: 585px;
    vertical-align: middle;
}

#about,
#skills,
#resume {
    padding-top: 130px;
}

#about .about-container {
    /* border: 1px solid tomato; */
    width: 71%;
    max-width: 1140px;
    text-align: center;
    background-color: #FFF8F3;
    margin: 0 auto;
    padding: 131px 157px;
}

#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}

.about-info .info-card h4 {
    font-size: 18px;
    color:#474747;
}


#skills .skills-container {
    /* border: 1px solid tomato; */
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;

}

#skills .skills-container .skill-box {
    display: flex;
    gap: 24px;
}

.skills-container .skill-box .skill-card {
    /* border: 1px solid tomato; */
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000027;
}

.skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3 {
    font-size: 18px;
    margin-bottom: 30px;
    color: #181818;
}

.skill-card p {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

#resume .resume-container {
    /* border: 1px solid tomato; */
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;

}

.resume-container .section-title {
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.resume-card {
    /* border: 1px solid tomato; */
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-title {
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.resume-card .card-info {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}

.resume-card .card-text {
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    margin-bottom: 20px;
}

.resume-container hr {
    color: #D1D1D1;
    margin-bottom: 30px;
}